{
    "printWidth": 110,
    "singleQuote": true,
    "quoteProps": "consistent",
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "arrowParens": "avoid",
    "singleAttributePerLine": true,
    "experimentalTernaries": true
}
